#search-bar-input {
  width: 20em;
}

.home .hashtag-results, .hashtag-post, .hashtag-list {
  margin-top: 1.8em;
}

.hashtag-results {
  list-style-type: none;
}

.hashtag-post {

}


.searchPostWrapper{
  display: grid;
  grid: auto / repeat(2, 1fr);

  grid-column-gap: 1%;

  padding: 0 8% 0 8%;
}

.tweetTile{
  background-color: #fff;

  border: solid 1px #e6ecf0;
  border-radius: 4px;

  margin: 8px;
  padding: 8px;

  min-height: 
}

.tweetTile {
  font-size: 14px;
  padding: 12px;
}.tweetTile:hover{
  background-color: #FAFAFA;
  border-color: #FAFAFA;
  box-shadow: 0px 0px 4px 1px #FCA712;
}

.tweetUserLink, .tweetUserLink strong{
  
}.tweetUserLink:hover{
  /*text-decoration: underline;*/
}
.tweetUser{
  color: #14171a;
}.tweetUser:hover{
  color:#5B3840;
}
.tweetScreenName{
  color: #657786;
}
.tweetDate{
  margin-left: 12px;
 color: #657786; 
}
.tweetText{
  color:#14171a;

}

.searchHashTagWrapper{
  display: grid;
  grid-template-columns: 1fr 72px 4fr 72px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "hashL hashP hashCenter hashButton hashR";
  grid-column-gap: 8px;


  padding: 12px 0 16px 0;
}

.hashTagList{
  grid-area: hashCenter;


  border-style: hidden hidden solid hidden;
  border-width: 1px;
  border-color: rgb(20, 23, 26);

  padding: 12px 4em 12px 4em;

  background-color: #fff;

}
.hashTagCopy{
  grid-area: hashButton;
  align-self: end;
  background-color: #74CB0F;
}