.landingPageLogo, .landingPageHeadline{
  font-family: Helvetica, sans-serif;
  font-style: oblique;
  font-weight: lighter;
  color: #41413F;
}
.landingPageLogo{
  font-size: 144px;
}
.langinPageHeadline{
  font-size: 36px;
}

.landingPageWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; 
  grid-template-areas:
  "one two three"
  "four center six"
  "seven eight nine";
 }
.landingPageCenter{
  grid-area: center;
}

.lpBackground{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  scale:;
}

.lpRed{
  fill: #FF3333;
}
.lpPurple{
  fill: #E37FC0;
}
.lpBlue{
  fill: #4A90E2;
}
.lpOrange{
  fill: #FCA712;
}
.lpBeige{
  fill: #F9ECBB;
}
.lpAqua{
  fill: #8DD7C3;
}
.lpYellow{
  fill: #EAC309;
}
.lpLime{
  fill: #DFE61E;
}
.lpGreen{
  fill: #74CB0F;
}
.lpWhite{
  fill: white;
}
