.searchSearchBarWrapper{
  height: 90px;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-areas: "logo searchBarForm links";
  align-items: center;

  background-color: #0e3042;
}

.searchLogo{
  grid-area: logo;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 4px;
  align-items: center;
}
.searchLogo img{
  justify-self: end;  
}
.searchLogo .logo{
  color: white !important;
  font-size: 24px;
  line-height: 24px;
}

#SearchBar{
  grid-area: searchBarForm;
}

.searchBarForm{
  display: grid;
  grid-template-columns: 1fr 90px;
  grid-template-areas: "searchInput searchSubmit";
}

.searchBarInput{
  grid-area: searchInput;
  
  border-style: solid hidden solid solid;
  border-width: 1px;
  border-color: #9B9B9B;
  border-radius: 4px 0px 0px 4px;
  
  min-width: 100%;
  height: 36px;

  text-indent: 20px;
}.searchBarInput:focus{
  outline: none;
  /*box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;*/
  box-shadow: 0px 0px 4px 1px #4A90E3;
  background-color: lightyellow;
}

.searchBarSubmit{
  grid-area: searchSubmit;

  height: 36px !important;
  line-height: 36px !important;
  width: 90px !important;

  border-radius: 0px 4px 4px 0px !important;

}

.linkButton{
  width: 72px;
  height: 24px;
  line-height: 24px;
  text-align: center;

  font-size: .8em;

  border: 1px solid #4A90E2;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  background-color: #4A90E2;
}


