.searchBarInput{
  margin-right: 16px;
  border: 1px solid #9B9B9B;
  border-radius: 2px;
}

.linkButton{
  width: 72px;
  height: 24px;
  line-height: 24px;
  text-align: center;

  border: 1px solid #9B9B9B;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  background-color: #4A90E2;
}

